<div class="container">
	<div class="row">
		<div class="col col-md-8">
			<div class="form-inline">
				<gos-textarea disable="true" label="Text Area" id="textarea_1" defaultValue="I have a pen" require="false" colorTheme="success"></gos-textarea>
				<gos-textarea row="2" label="Require" id="textarea_2" defaultValue="I have an Apple pen" require="true" colorTheme="warning"></gos-textarea>
				<gos-textarea label="Readonly" id="textarea_3" readonly="true" defaultValue="Ah! Apple pen" require="true" colorTheme="danger"></gos-textarea>
			</div>
		</div>
		<div class="col col-md-4">
			<div class="form-inline">
				<!--<gos-textbox disable="true" defaultValue="course" type="text" label="Text Box 1" require="true" id="textbox_1" colorTheme="success"></gos-textbox>
				<gos-textbox type="password" label="Password Box" id="textbox_2" colorTheme="info" maxlength="6"></gos-textbox>
				<gos-textbox type="email" label="Email Box" id="email_1" placeholder="example@host.com" colorTheme="success" warningText=""></gos-textbox>
				<gos-textbox type="integer" label="Integer Box" id="textbox_3" colorTheme="warning" placeholder="ex: 100" maxlength="7"></gos-textbox>
				<gos-textbox type="number" label="Number Box" id="currency_1" colorTheme="warning" placeholder="ex: 1000.00 or 1000" numberFormat="0,0.00"></gos-textbox>-->
			</div>
			<div align="center">
				<!--<gos-button label="Submit" size="" (click)="onClick()"></gos-button>-->
			</div>
		</div>
	</div>
</div>