<div class="container">
	<div class="row">
		<div class="col col-md-8">
			<div class="form-inline">
			<gos-textarea row="" disable="true" label="Text Area" id="textarea_1" defaultValue="I have a pen" require="false" colorTheme="success"></gos-textarea>
			<gos-textarea row="2" label="Require" id="textarea_2" defaultValue="I have an Apple pen" require="true" colorTheme="warning"></gos-textarea>
			<gos-textarea label="Readonly" id="textarea_3" readonly="true" defaultValue="Ah! Apple pen" require="true" colorTheme="danger"></gos-textarea>
			</div>
		</div>
	</div>
</div>